<%= simple_form_for([ @location, @booking ]) do |f| %>
  <div class="field">
    <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
  </div>
  <div class="field">
    <%= f.input :end_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
  </div>

  <%= f.submit "Book location" %>
<% end %>

