<div class="container">
  <h1>New Booking</h1>
  <div data-controller="toggle">
      <button class="btn btn-primary mt-4" data-action="click->toggle#fire"> Book! </button>
    <div class="mt-3 d-none" data-toggle-target="toggleableElement">
    <%= render 'form', booking: @booking %>
    </div>
  </div>
</div>
