<div class="welcome-container">
  <h1 id="title" data-controller="typed" data-typed-string-value=""></h1>

  <div class="container">
      <div class="col-12 col-lg-5 mx-auto">
              <%= form_with url: locations_path, method: :get, class: "d-flex" do %>
                <%= text_field_tag :query,
                      params[:query],
                      class: "form-control",
                      placeholder: "Where would you like to go?"
                  %>
                <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
              <% end %>
      </div>
    </div>
  </div>

        <%# <div class="search text-center"> %>
              <%# <%= link_to "See what's available", locations_path, class:"btn btn-secondary btn-lg btn-block pd-4"%>
          <%# </div> %>
