<div class="welcome-container">
  <h1 id="title" data-controller="typed" data-typed-string-value=""></h1>


  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-5">
        <div class="search">
              <%= link_to "See what's available", locations_path, class:"btn btn-secondary btn-lg btn-block pd-4"%>
          </div>
      </div>
    </div>
  </div>
</div>
