<div class="welcome-container">

<div id="title">
<h1>Welcome to AirbnBoo</h1>
</div>


<div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="Where would you like to go?">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
   </div>
</div>

</div>
