.navbar-lewagon {
  justify-content: space-between;
  // background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);

}
.nav-link {
  color: #C69749 ;
}
#navbar-title{
  color:#C69749;
}
.container-logo{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}
