<div class="container">
  <h1><%= @location.name %></h1>
  <p><strong>Address:</strong> <%= @location.address %></p>
  <p><strong>Description:</strong> <%= @location.description %></p>
  <p><strong>Price:</strong> <%= @location.price %></p>
  <!-- TODO: Stimulus to add partial for booking -->
  <%#= render 'bookings/new' %>
</div>
