<div class="location-title">
  <h1><%= @location.name %></h1>
</div>
<div class="location-details">
  <p><strong>Address:</strong> <%= @location.address %></p>
  <p><strong>Description:</strong> <%= @location.description %></p>
  <p><strong>Price:</strong> <%= @location.price %></p>
</div>
